/*!
 * Bootstrap v3.0.0
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world by @mdo and @fat.
 */
// Core variables and mixins
@import "../lib/bootstrap/less/variables";

@font-path: "/fonts/";
@icon-font-path: @font-path;
@icon-font-name: "glyphicons-halflings-regular";

@import "../lib/bootstrap/less/mixins";

// Reset
@import "../lib/bootstrap/less/normalize";
@import "../lib/bootstrap/less/print";

// Core CSS
@import "../lib/bootstrap/less/scaffolding";
@import "../lib/bootstrap/less/type";
@import "../lib/bootstrap/less/code";
@import "../lib/bootstrap/less/grid";
@import "../lib/bootstrap/less/tables";
@import "../lib/bootstrap/less/forms";
@import "../lib/bootstrap/less/buttons";

// Components
@import "../lib/bootstrap/less/component-animations";
@import "../lib/bootstrap/less/glyphicons";
@import "../lib/bootstrap/less/dropdowns";
@import "../lib/bootstrap/less/button-groups";
@import "../lib/bootstrap/less/input-groups";
@import "../lib/bootstrap/less/navs";
@import "../lib/bootstrap/less/navbar";
@import "../lib/bootstrap/less/breadcrumbs";
@import "../lib/bootstrap/less/pagination";
@import "../lib/bootstrap/less/pager";
@import "../lib/bootstrap/less/labels";
@import "../lib/bootstrap/less/badges";
@import "../lib/bootstrap/less/jumbotron";
@import "../lib/bootstrap/less/thumbnails";
@import "../lib/bootstrap/less/alerts";
@import "../lib/bootstrap/less/progress-bars";
@import "../lib/bootstrap/less/media";
@import "../lib/bootstrap/less/list-group";
@import "../lib/bootstrap/less/panels";
@import "../lib/bootstrap/less/wells";
@import "../lib/bootstrap/less/close";

// Components w/ JavaScript
@import "../lib/bootstrap/less/modals";
@import "../lib/bootstrap/less/tooltip";
@import "../lib/bootstrap/less/popovers";
@import "../lib/bootstrap/less/carousel";

// Utility classes
@import "../lib/bootstrap/less/utilities";
@import "../lib/bootstrap/less/responsive-utilities";

@import "library/fontawesome/font-awesome";

// ============================================
//				LOCAL APPLICATION STYLES
// ============================================
//@import "flip";
@import "views/index";
