<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<h2>Video List</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="custom-search-box">
			<div class="input-group ">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				<input type="text" class="form-control" data-ng-model="query" placeholder="Search">
			</div>
		</div>
	</div>

</div>

<!--<vimeo control-boolean="isPlaying" vid="98646917" pid="1"></vimeo>-->


<div class="row">
	<br />
	<div class="col-xs-12 col-md-6"data-ng-repeat="video in videos | filter:query" data-ng-click="videoDisplay(video)">
		<div class="panel panel-default vimeo-panels">
			<div class="panel-heading">
				<span ng-bind="video.title"></span>
			</div>
			<div class="panel-body">
				<img src="{{video.thumbnail_large}}" alt="{{video.id}}"/>
			</div>
			<div class="panel-footer"><span  ng-bind="video.description"></span></div>
		</div>
	</div>
</div>


